body{
    background-color: #9fccb1;
    font-family: 'Times New Roman', sans-serif; font-size: 16px;}

.leftimg{
    float:left;
    margin: 7px 7px 7px 0;
    padding: 3px; border: black solid 3px;}

.btn-new{
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #6b0c75;
    background: #00BEC5FF;
    box-shadow: 0 5px 0 #03777c;}

.btn-new:hover{
    background: #00bec5;
    box-shadow: none;
    position: relative;
    top: 5px;}